@model ShoppingMvcApp.Models.PurchaseHistory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PurchaseHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PurchaseHistoryId" />
            <div class="form-group">
                <label asp-for="detailsId" class="control-label"></label>
                <input asp-for="detailsId" class="form-control" />
                <span asp-validation-for="detailsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <select asp-for="userId" class="form-control" asp-items="ViewBag.userId"></select>
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productId" class="control-label"></label>
                <select asp-for="productId" class="form-control" asp-items="ViewBag.productId"></select>
                <span asp-validation-for="productId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="count" class="control-label"></label>
                <input asp-for="count" class="form-control" />
                <span asp-validation-for="count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="purchaseDate" class="control-label"></label>
                <input asp-for="purchaseDate" class="form-control" />
                <span asp-validation-for="purchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
