@model IEnumerable<ShoppingMvcApp.Models.User>

@{
    ViewData["Title"] = "会員情報";
}

<h1>会員情報</h1>

<p>
    <!-- <a asp-action="Create">会員登録</a> -->
</p>

<div class="text-center">
    <p>名前:@ViewData["name"]さん</p>
    <p>ログインID(メールアドレス):@ViewData["mail"]</p>
    <p>パスワード:@ViewData["pass"]</p>
    <p>電話番号:@ViewData["tel"]</p>
    <p>住所:@ViewData["address"]</p>
</div>
<p><a　 asp-controller="PurchaseHistorys" asp-action="Index">購入履歴</a></p>
<div class="text-right">
    <p><a　 asp-controller="Users" asp-action="LogOut">ログアウト</a></p>
</div>